{% extends "base.html" %} {% block title %} Applications {% endblock %} {% block
content %} {% block styles %}
<link rel="stylesheet" href="/static/css/app_style.css" />
{% endblock %}

<section class="page-header">
    <h1>Applications</h1>
    <p>Manage and track all your job applications.</p>
</section>
<div class="filter-bar">
    <button
        hx-get="/pages/applications/filter/all"
        hx-target="#application-list"
    >
        All
    </button>

    <button
        hx-get="/pages/applications/filter/applied"
        hx-target="#application-list"
    >
        Applied
    </button>

    <button
        hx-get="/pages/applications/filter/interview"
        hx-target="#application-list"
    >
        Interview
    </button>

    <button
        hx-get="/pages/applications/filter/offer"
        hx-target="#application-list"
    >
        Offer
    </button>
</div>
<div id="application-list">{% include "partials/application_list.html" %}</div>

{% endblock %}
